body{
    background-color: #e6e6e6;
    font-family:'Abel';

}
#strip{
    background-color:white;
    margin: 5em solid white;
}

#main-container  {
    background-image: url("img/logo.jpg");
}
#main-title{
    font-size: 55px;

}
h1, h2, h3, h4, h5{
    font-family: 'Anton';
}

#r-orange{
    background-color: #E6563B;
    color: white;
}
#gold{
    background-color: #EB9D3A;
    color: white;
}

#green{
    background-color: #7CB06C;
    color:white;
}
#blue{
    background-color: #00ABA9;
    color: white;
}
.btn-circle {
    font-family: 'Anton';
    width: 105px;
    height: 105px;
    border-radius: 50%;
    border: 5px solid white;
}
.card{
    border: 5px solid black;
}
.embed-responsive .card-img-top{
    object-fit: cover;
}